.input {
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid silver;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
}

.input:focus {
    border: none;
    outline: none;
    background-color: aquamarine;
    color: olive;
    border-bottom: 1px solid grey;
}

.button {
    padding: 0 15px;
}

.button:hover {
    cursor: pointer;
}

/* .button:active {
    
} */